<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="queslist.css">
  <title>My Voting App</title>
</head>
<body>
  <div class="box">
    <h2>Polling Questions</h2>
    <ul>
       {{#if polls}}
            {{#each polls}}
               <a href="/options?id={{_id}}" ><li>
                   <span class="number">{{@index}}</span>
                   <span class="name">{{Question}}</span>
                   <span class="points">{{Votecount}}  people voted</span>
                   <span class="badge">posted by : {{Username}}</span>
               </li></a> 
            {{/each}}
        {{else}}
                <li>You have not created any polls</li>
        {{/if}}

    </ul>
  </div>
</body>
</html>


